In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("./1b_whole.xls","2563")

In [3]:
df

,ลำดับ,ยี่ห้อรถ,ไม่เกิน \n800 ซีซี,801 ถึง 900 ซีซี,"901 ถึง 1,000 ซีซี","1,001 ถึง 1,100 ซีซี","1,101 ถึง 1200 ซีซี","1,201 ถึง 1,300 ซีซี","1,301 ถึง 1,400 ซีซี","1,401 ถึง 1,500 ซีซี",...,"2,301 ถึง 2,400 ซีซี","2,401 ถึง 2,500 ซีซี","2,501 ถึง 2,600 ซีซี","2,601 ถึง 2,700 ซีซี","2,701 ถึง 2,800 ซีซี","2,801 ถึง 2,900 ซีซี","2,901 ถึง 3,000 ซีซี","3,001 \nซีซีขึ้นไป",รถใช้เชื้อเพลิง ไฟฟ้า,รวม
0,1,ไม่ระบุ,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,ALFA ROMEO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,ASTON MARTIN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,14,0,14
3,4,AUDI,0,0,0,0,0,0,81,34,...,0,3,0,0,0,0,171,8,30,873
4,5,AUSTIN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,UTV,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71,72,VOLKSWAGEN,0,0,0,0,0,0,28,0,...,0,0,0,0,0,0,0,0,0,35
72,73,VOLVO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1872
73,74,WILLYS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,75,อื่นๆ,0,1,3,1,0,6,7,5,...,0,0,0,0,0,0,0,34,205,267

In [4]:
#การเลือกช่วงข้อมูล colum
df[0:3]["ยี่ห้อรถ"]

0         ไม่ระบุ
1      ALFA ROMEO
2    ASTON MARTIN
Name: ยี่ห้อรถ, dtype: object

In [5]:
#การเลือกช่วงข้อมูล colum
df[["ไม่เกิน \n800 ซีซี","รถใช้เชื้อเพลิง ไฟฟ้า"]][:].sum()

ไม่เกิน \n800 ซีซี         64
รถใช้เชื้อเพลิง ไฟฟ้า    1261
dtype: int64

In [6]:
df[["ไม่เกิน \n800 ซีซี","รถใช้เชื้อเพลิง ไฟฟ้า"]][:].sum()

ไม่เกิน \n800 ซีซี         64
รถใช้เชื้อเพลิง ไฟฟ้า    1261
dtype: int64

In [7]:
df[["ยี่ห้อรถ","801 ถึง 900 ซีซี"]][1:10]

       ยี่ห้อรถ  801 ถึง 900 ซีซี
1    ALFA ROMEO                 0
2  ASTON MARTIN                 0
3          AUDI                 0
4        AUSTIN                 0
5          ALFA                 0
6       BENTLEY                 0
7          BENZ                 0
8           BMW                 0
9         BUICK                 0

In [8]:
df[1:10][["ยี่ห้อรถ","801 ถึง 900 ซีซี"]]

       ยี่ห้อรถ  801 ถึง 900 ซีซี
1    ALFA ROMEO                 0
2  ASTON MARTIN                 0
3          AUDI                 0
4        AUSTIN                 0
5          ALFA                 0
6       BENTLEY                 0
7          BENZ                 0
8           BMW                 0
9         BUICK                 0

In [9]:
df.loc["ALFA ROMEO":"BENTLEY"]["801 ถึง 900 ซีซี"]
#index_col="ยี่ห้อรถ"

Series([], Name: 801 ถึง 900 ซีซี, dtype: int64)

In [10]:
df["ยี่ห้อรถ"].str.match("ALFA ROMEO")
#match ต้องพิมให้ตรง

0     False
1      True
2     False
3     False
4     False
      ...
70    False
71    False
72    False
73    False
74    False
Name: ยี่ห้อรถ, Length: 75, dtype: bool

In [11]:
df[df["ยี่ห้อรถ"].str.match("ALFA ROMEO")]
#ค้นหาต้องตรงกันทุกคำ

,ลำดับ,ยี่ห้อรถ,ไม่เกิน \n800 ซีซี,801 ถึง 900 ซีซี,"901 ถึง 1,000 ซีซี","1,001 ถึง 1,100 ซีซี","1,101 ถึง 1200 ซีซี","1,201 ถึง 1,300 ซีซี","1,301 ถึง 1,400 ซีซี","1,401 ถึง 1,500 ซีซี",...,"2,301 ถึง 2,400 ซีซี","2,401 ถึง 2,500 ซีซี","2,501 ถึง 2,600 ซีซี","2,601 ถึง 2,700 ซีซี","2,701 ถึง 2,800 ซีซี","2,801 ถึง 2,900 ซีซี","2,901 ถึง 3,000 ซีซี","3,001 \nซีซีขึ้นไป",รถใช้เชื้อเพลิง ไฟฟ้า,รวม
1,2,ALFA ROMEO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [12]:
df[df["ยี่ห้อรถ"].str.contains("ALFA ROMEO")]
#ค้นหาไม่จำเป็นต้องตรงกันทุกคำ

,ลำดับ,ยี่ห้อรถ,ไม่เกิน \n800 ซีซี,801 ถึง 900 ซีซี,"901 ถึง 1,000 ซีซี","1,001 ถึง 1,100 ซีซี","1,101 ถึง 1200 ซีซี","1,201 ถึง 1,300 ซีซี","1,301 ถึง 1,400 ซีซี","1,401 ถึง 1,500 ซีซี",...,"2,301 ถึง 2,400 ซีซี","2,401 ถึง 2,500 ซีซี","2,501 ถึง 2,600 ซีซี","2,601 ถึง 2,700 ซีซี","2,701 ถึง 2,800 ซีซี","2,801 ถึง 2,900 ซีซี","2,901 ถึง 3,000 ซีซี","3,001 \nซีซีขึ้นไป",รถใช้เชื้อเพลิง ไฟฟ้า,รวม
1,2,ALFA ROMEO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [13]:
#การใช้ Loop
for idx,row in df.iterrows():
    print("ยี่ห้อรถ : {} | {}".format(row["ยี่ห้อรถ"],row["รวม"]))

ยี่ห้อรถ : ไม่ระบุ | 0
ยี่ห้อรถ : ALFA ROMEO | 1
ยี่ห้อรถ : ASTON MARTIN | 14
ยี่ห้อรถ : AUDI | 873
ยี่ห้อรถ : AUSTIN | 0
ยี่ห้อรถ : ALFA | 0
ยี่ห้อรถ : BENTLEY | 84
ยี่ห้อรถ : BENZ | 4
ยี่ห้อรถ : BMW | 10655
ยี่ห้อรถ : BUICK | 0
ยี่ห้อรถ : CHEVROLET | 6472
ยี่ห้อรถ : CHRYSLER | 0
ยี่ห้อรถ : CITROEN | 0
ยี่ห้อรถ : CHERY | 2
ยี่ห้อรถ : DAEWOO | 0
ยี่ห้อรถ : DAIHATSU | 0
ยี่ห้อรถ : DAIMLER | 0
ยี่ห้อรถ : DATSUN | 0
ยี่ห้อรถ : DODGE | 0
ยี่ห้อรถ : FERRARI | 69
ยี่ห้อรถ : FIAT | 5
ยี่ห้อรถ : FORD | 22934
ยี่ห้อรถ : FOTON | 41
ยี่ห้อรถ : HOLDEN | 0
ยี่ห้อรถ : HONDA | 96063
ยี่ห้อรถ : HYUNDAI | 146
ยี่ห้อรถ : ISUZU | 72931
ยี่ห้อรถ : JAGUAR | 38
ยี่ห้อรถ : JEEP | 25
ยี่ห้อรถ : KIA MASTER | 0
ยี่ห้อรถ : KIA | 5
ยี่ห้อรถ : LAMBORGHINI | 47
ยี่ห้อรถ : LANCIA | 0
ยี่ห้อรถ : LAND ROVER | 96
ยี่ห้อรถ : LOTUS | 0
ยี่ห้อรถ : LEXUS | 525
ยี่ห้อรถ : MASERATI | 41
ยี่ห้อรถ : MAZDA | 38389
ยี่ห้อรถ : MG | 24428
ยี่ห้อรถ : MITSUBISHI | 44593
ยี่ห้อรถ : MINI | 1137
ยี่ห้อรถ : MERCEDES BENZ | 11808
ยี่ห้อรถ : MINI COOPER | 0
ยี่ห้อรถ : MINI ROVER | 0
ยี่ห้อรถ : MITSUOKA | 0
ยี่ห้อรถ : NISSAN | 35124
ยี่ห้อรถ : NIVA | 0
ยี่ห้อรถ : NAZA | 0
ยี่ห้อรถ : OLDSMOBILE | 0
ยี่ห้อรถ : OPEL | 0
ยี่ห้อรถ : PEUGEOT | 400
ยี่ห้อรถ : PORSCHE | 1460
ยี่ห้อรถ : PROTON | 4
ยี่ห้อรถ : PERODUA | 0
ยี่ห้อรถ : RENAULT | 0
ยี่ห้อรถ : RILEY | 0
ยี่ห้อรถ : ROLLS-ROYCE | 23
ยี่ห้อรถ : ROVER | 1
ยี่ห้อรถ : RANGE ROVER | 2
ยี่ห้อรถ : SAAB | 0
ยี่ห้อรถ : SIMCA | 0
ยี่ห้อรถ : SKODA | 0
ยี่ห้อรถ : SUBARU | 2943
ยี่ห้อรถ : SUZUKI | 21531
ยี่ห้อรถ : SEAT | 0
ยี่ห้อรถ : SSANGYONG | 0
ยี่ห้อรถ : TOYOTA | 145951
ยี่ห้อรถ : TRIUMPH | 0
ยี่ห้อรถ : TATA | 8
ยี่ห้อรถ : TESLA | 97
ยี่ห้อรถ : UTV | 0
ยี่ห้อรถ : VOLKSWAGEN | 35
ยี่ห้อรถ : VOLVO | 1872
ยี่ห้อรถ : WILLYS | 0
ยี่ห้อรถ : อื่นๆ | 267

In [14]:
#การเลือกแบบมีเงื่อนไข
df[df["รวม"]>=1000]

,ลำดับ,ยี่ห้อรถ,ไม่เกิน \n800 ซีซี,801 ถึง 900 ซีซี,"901 ถึง 1,000 ซีซี","1,001 ถึง 1,100 ซีซี","1,101 ถึง 1200 ซีซี","1,201 ถึง 1,300 ซีซี","1,301 ถึง 1,400 ซีซี","1,401 ถึง 1,500 ซีซี",...,"2,301 ถึง 2,400 ซีซี","2,401 ถึง 2,500 ซีซี","2,501 ถึง 2,600 ซีซี","2,601 ถึง 2,700 ซีซี","2,701 ถึง 2,800 ซีซี","2,801 ถึง 2,900 ซีซี","2,901 ถึง 3,000 ซีซี","3,001 \nซีซีขึ้นไป",รถใช้เชื้อเพลิง ไฟฟ้า,รวม
8,9,BMW,0,0,0,0,0,0,0,331,...,0,4,0,0,0,0,944,15,2,10655
10,11,CHEVROLET,0,0,0,0,0,0,4,2798,...,13,3568,0,0,36,0,0,6,0,6472
21,22,FORD,0,0,1,0,0,0,0,35,...,0,0,0,0,1,0,1,107,0,22934
24,25,HONDA,38,0,27524,0,183,0,0,31565,...,5384,0,0,0,0,0,1,1,0,96063
26,27,ISUZU,0,0,0,0,0,0,0,0,...,0,19,0,0,0,0,9756,1,0,72931
37,38,MAZDA,0,0,0,0,0,23491,0,775,...,0,1411,0,0,1,0,0,5,0,38389
38,39,MG,0,0,0,0,0,0,0,21244,...,0,3,0,0,0,0,0,0,824,24428
39,40,MITSUBISHI,0,0,0,0,11390,0,0,11974,...,4,21218,0,0,0,0,1,1,0,44593
40,41,MINI,0,0,0,0,0,0,0,112,...,0,0,0,0,0,0,0,0,11,1137
41,42,MERCEDES BENZ,0,0,0,0,0,0,252,302,...,0,0,0,0,1,0,1092,79,0,11808
45,46,NISSAN,0,0,13227,0,14463,0,2,0,...,0,4669,0,0,0,0,0,14,54,35124
51,52,PORSCHE,0,0,0,0,0,0,0,1,...,1,3,0,1,1,130,951,67,15,1460
62,63,SUBARU,0,0,0,0,0,0,0,0,...,0,36,0,0,0,0,0,0,0,2943
63,64,SUZUKI,25,0,3560,0,9607,3928,13,4397,...,0,0,0,0,0,0,0,0,0,21531
66,67,TOYOTA,0,0,0,0,46793,0,0,8100,...,51357,8259,0,8,10183,0,83,51,0,145951
72,73,VOLVO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1872

In [15]:
#การเลือกแบบมีเงื่อนไข แบบมีหลายเงื่อนไข
df.loc[(df["รวม"]>=1000) & (df["รถใช้เชื้อเพลิง ไฟฟ้า"]>100)]

,ลำดับ,ยี่ห้อรถ,ไม่เกิน \n800 ซีซี,801 ถึง 900 ซีซี,"901 ถึง 1,000 ซีซี","1,001 ถึง 1,100 ซีซี","1,101 ถึง 1200 ซีซี","1,201 ถึง 1,300 ซีซี","1,301 ถึง 1,400 ซีซี","1,401 ถึง 1,500 ซีซี",...,"2,301 ถึง 2,400 ซีซี","2,401 ถึง 2,500 ซีซี","2,501 ถึง 2,600 ซีซี","2,601 ถึง 2,700 ซีซี","2,701 ถึง 2,800 ซีซี","2,801 ถึง 2,900 ซีซี","2,901 ถึง 3,000 ซีซี","3,001 \nซีซีขึ้นไป",รถใช้เชื้อเพลิง ไฟฟ้า,รวม
38,39,MG,0,0,0,0,0,0,0,21244,...,0,3,0,0,0,0,0,0,824,24428

In [16]:
df.loc[(df["ยี่ห้อรถ"].isin(["ALFA ROMEO","AUDI"]))]

,ลำดับ,ยี่ห้อรถ,ไม่เกิน \n800 ซีซี,801 ถึง 900 ซีซี,"901 ถึง 1,000 ซีซี","1,001 ถึง 1,100 ซีซี","1,101 ถึง 1200 ซีซี","1,201 ถึง 1,300 ซีซี","1,301 ถึง 1,400 ซีซี","1,401 ถึง 1,500 ซีซี",...,"2,301 ถึง 2,400 ซีซี","2,401 ถึง 2,500 ซีซี","2,501 ถึง 2,600 ซีซี","2,601 ถึง 2,700 ซีซี","2,701 ถึง 2,800 ซีซี","2,801 ถึง 2,900 ซีซี","2,901 ถึง 3,000 ซีซี","3,001 \nซีซีขึ้นไป",รถใช้เชื้อเพลิง ไฟฟ้า,รวม
1,2,ALFA ROMEO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,AUDI,0,0,0,0,0,0,81,34,...,0,3,0,0,0,0,171,8,30,873

In [17]:
#การเลียงลำดับข้อมูลตาม Index
df.sort_index()
# df.sort_index(ascending=False) #เลียงตรงกันข้าม

,ลำดับ,ยี่ห้อรถ,ไม่เกิน \n800 ซีซี,801 ถึง 900 ซีซี,"901 ถึง 1,000 ซีซี","1,001 ถึง 1,100 ซีซี","1,101 ถึง 1200 ซีซี","1,201 ถึง 1,300 ซีซี","1,301 ถึง 1,400 ซีซี","1,401 ถึง 1,500 ซีซี",...,"2,301 ถึง 2,400 ซีซี","2,401 ถึง 2,500 ซีซี","2,501 ถึง 2,600 ซีซี","2,601 ถึง 2,700 ซีซี","2,701 ถึง 2,800 ซีซี","2,801 ถึง 2,900 ซีซี","2,901 ถึง 3,000 ซีซี","3,001 \nซีซีขึ้นไป",รถใช้เชื้อเพลิง ไฟฟ้า,รวม
0,1,ไม่ระบุ,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,ALFA ROMEO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,ASTON MARTIN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,14,0,14
3,4,AUDI,0,0,0,0,0,0,81,34,...,0,3,0,0,0,0,171,8,30,873
4,5,AUSTIN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,UTV,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71,72,VOLKSWAGEN,0,0,0,0,0,0,28,0,...,0,0,0,0,0,0,0,0,0,35
72,73,VOLVO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1872
73,74,WILLYS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,75,อื่นๆ,0,1,3,1,0,6,7,5,...,0,0,0,0,0,0,0,34,205,267

In [18]:
#การเลียงลำดับข้อมูลตาม value
df.sort_values("รวม",ascending=False)

,ลำดับ,ยี่ห้อรถ,ไม่เกิน \n800 ซีซี,801 ถึง 900 ซีซี,"901 ถึง 1,000 ซีซี","1,001 ถึง 1,100 ซีซี","1,101 ถึง 1200 ซีซี","1,201 ถึง 1,300 ซีซี","1,301 ถึง 1,400 ซีซี","1,401 ถึง 1,500 ซีซี",...,"2,301 ถึง 2,400 ซีซี","2,401 ถึง 2,500 ซีซี","2,501 ถึง 2,600 ซีซี","2,601 ถึง 2,700 ซีซี","2,701 ถึง 2,800 ซีซี","2,801 ถึง 2,900 ซีซี","2,901 ถึง 3,000 ซีซี","3,001 \nซีซีขึ้นไป",รถใช้เชื้อเพลิง ไฟฟ้า,รวม
66,67,TOYOTA,0,0,0,0,46793,0,0,8100,...,51357,8259,0,8,10183,0,83,51,0,145951
24,25,HONDA,38,0,27524,0,183,0,0,31565,...,5384,0,0,0,0,0,1,1,0,96063
26,27,ISUZU,0,0,0,0,0,0,0,0,...,0,19,0,0,0,0,9756,1,0,72931
39,40,MITSUBISHI,0,0,0,0,11390,0,0,11974,...,4,21218,0,0,0,0,1,1,0,44593
37,38,MAZDA,0,0,0,0,0,23491,0,775,...,0,1411,0,0,1,0,0,5,0,38389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,12,CHRYSLER,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46,47,NIVA,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,49,OLDSMOBILE,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,50,OPEL,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,1,ไม่ระบุ,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
#การเพิ่ม Colum
df["sum2"] = df["รวม"]
df

,ลำดับ,ยี่ห้อรถ,ไม่เกิน \n800 ซีซี,801 ถึง 900 ซีซี,"901 ถึง 1,000 ซีซี","1,001 ถึง 1,100 ซีซี","1,101 ถึง 1200 ซีซี","1,201 ถึง 1,300 ซีซี","1,301 ถึง 1,400 ซีซี","1,401 ถึง 1,500 ซีซี",...,"2,401 ถึง 2,500 ซีซี","2,501 ถึง 2,600 ซีซี","2,601 ถึง 2,700 ซีซี","2,701 ถึง 2,800 ซีซี","2,801 ถึง 2,900 ซีซี","2,901 ถึง 3,000 ซีซี","3,001 \nซีซีขึ้นไป",รถใช้เชื้อเพลิง ไฟฟ้า,รวม,sum2
0,1,ไม่ระบุ,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,ALFA ROMEO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,3,ASTON MARTIN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,14,0,14,14
3,4,AUDI,0,0,0,0,0,0,81,34,...,3,0,0,0,0,171,8,30,873,873
4,5,AUSTIN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,UTV,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71,72,VOLKSWAGEN,0,0,0,0,0,0,28,0,...,0,0,0,0,0,0,0,0,35,35
72,73,VOLVO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1872,1872
73,74,WILLYS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,75,อื่นๆ,0,1,3,1,0,6,7,5,...,0,0,0,0,0,0,34,205,267,267

In [20]:
#การเปลี่ยนชื่อ Colum
cols = {"sum2":"sum"}
df.rename(columns=cols,inplace=True)
df

,ลำดับ,ยี่ห้อรถ,ไม่เกิน \n800 ซีซี,801 ถึง 900 ซีซี,"901 ถึง 1,000 ซีซี","1,001 ถึง 1,100 ซีซี","1,101 ถึง 1200 ซีซี","1,201 ถึง 1,300 ซีซี","1,301 ถึง 1,400 ซีซี","1,401 ถึง 1,500 ซีซี",...,"2,401 ถึง 2,500 ซีซี","2,501 ถึง 2,600 ซีซี","2,601 ถึง 2,700 ซีซี","2,701 ถึง 2,800 ซีซี","2,801 ถึง 2,900 ซีซี","2,901 ถึง 3,000 ซีซี","3,001 \nซีซีขึ้นไป",รถใช้เชื้อเพลิง ไฟฟ้า,รวม,sum
0,1,ไม่ระบุ,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,ALFA ROMEO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
2,3,ASTON MARTIN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,14,0,14,14
3,4,AUDI,0,0,0,0,0,0,81,34,...,3,0,0,0,0,171,8,30,873,873
4,5,AUSTIN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,UTV,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71,72,VOLKSWAGEN,0,0,0,0,0,0,28,0,...,0,0,0,0,0,0,0,0,35,35
72,73,VOLVO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1872,1872
73,74,WILLYS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,75,อื่นๆ,0,1,3,1,0,6,7,5,...,0,0,0,0,0,0,34,205,267,267

In [21]:
#การลบ Colum
new1 = df.drop("sum",axis=1)
new1

,ลำดับ,ยี่ห้อรถ,ไม่เกิน \n800 ซีซี,801 ถึง 900 ซีซี,"901 ถึง 1,000 ซีซี","1,001 ถึง 1,100 ซีซี","1,101 ถึง 1200 ซีซี","1,201 ถึง 1,300 ซีซี","1,301 ถึง 1,400 ซีซี","1,401 ถึง 1,500 ซีซี",...,"2,301 ถึง 2,400 ซีซี","2,401 ถึง 2,500 ซีซี","2,501 ถึง 2,600 ซีซี","2,601 ถึง 2,700 ซีซี","2,701 ถึง 2,800 ซีซี","2,801 ถึง 2,900 ซีซี","2,901 ถึง 3,000 ซีซี","3,001 \nซีซีขึ้นไป",รถใช้เชื้อเพลิง ไฟฟ้า,รวม
0,1,ไม่ระบุ,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,ALFA ROMEO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,ASTON MARTIN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,14,0,14
3,4,AUDI,0,0,0,0,0,0,81,34,...,0,3,0,0,0,0,171,8,30,873
4,5,AUSTIN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,UTV,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71,72,VOLKSWAGEN,0,0,0,0,0,0,28,0,...,0,0,0,0,0,0,0,0,0,35
72,73,VOLVO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1872
73,74,WILLYS,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74,75,อื่นๆ,0,1,3,1,0,6,7,5,...,0,0,0,0,0,0,0,34,205,267